backend/.vercel
backend/.env
backend/node_modules
backend/*.lock
backend/coverage
backend/benchmarks
backend/vercel_token
backend-copy
frontend/frontend/.env
frontend/frontend/src/backend

# IDE
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
*.code-workspace
