/* ./src/index.css */
@import "tailwindcss";
@plugin "daisyui";

body {
  margin: 0;
  font-family: "Segoe UI", Ubuntu, Sans-Serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  cursor: pointer;
}
