name: Basic Build

on:
  workflow_dispatch: # Allows you to run this manually from the Actions tab
  push:
  pull_request:

jobs:
  execute:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.os }}

    steps:
      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: latest

      - name: Install Yarn
        run: npm install -g yarn

      - name: Checkout code
        uses: actions/checkout@v6

      - name: Install and Build
        run: |
          chmod +x ./vercel-preparation.sh
          ./vercel-preparation.sh
          (cd ./backend/ && npm install)
          (cd ./frontend/frontend/ && yarn install && yarn build-trends)

      - name: Run Backend Tests
        run: |
            (cd ./backend/ && npm test)
