name: Generate Theme Readme
on:
  push:
    branches:
      - master
    paths:
      - "apps/backend/themes/index.js"
  workflow_dispatch:

permissions:
  actions: read
  checks: read
  contents: write
  deployments: read
  issues: read
  discussions: read
  packages: read
  pages: read
  pull-requests: write
  repository-projects: read
  security-events: read
  statuses: read

jobs:
  generateThemeDoc:
    runs-on: ubuntu-latest
    name: Generate theme doc
    strategy:
      matrix:
        node-version: [24]

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Install Dependencies
        uses: ./.github/actions/install-dependencies
        with:
          node-version: ${{ matrix.node }}

      - name: generate readme
        run: |
          pnpm --filter github-readme-stats run theme-readme-gen

      - name: Create Pull Request if themes README has changed
        uses: peter-evans/create-pull-request@8
        with:
          commit-message: "refactor: update themes README"
          branch: "update_themes_readme/patch"
          delete-branch: true
          title: Update themes README
          body: "The
            [generate-theme-doc](https://github.com/stats-organization/github-stats-extended/actions/workflows/generate-theme-doc.yml)
            action found new/updated languages in the [upstream languages JSON
            file](https://raw.githubusercontent.com/github/linguist/master/lib/linguist/languages.yml)."
          labels: "ci"
