name: Update supported languages
on:
  workflow_dispatch:
  schedule:
    #        ┌───────────── minute (0 - 59)
    #        │ ┌───────────── hour (0 - 23)
    #        │ │  ┌───────────── day of the month (1 - 31)
    #        │ │  │   ┌───────────── month (1 - 12 or JAN-DEC)
    #        │ │  │   │ ┌───────────── day of the week (0 - 6 or SUN-SAT)
    #        │ │  │   │ │
    #        │ │  │   │ │
    #        │ │  │   │ │
    #        * *  *   * *
    - cron: "0 0 */30 * *"

permissions:
  actions: read
  checks: read
  contents: write
  deployments: read
  issues: read
  discussions: read
  packages: read
  pages: read
  pull-requests: write
  repository-projects: read
  security-events: read
  statuses: read

jobs:
  update-languages:
    if: |
      github.repository == 'anuraghazra/github-readme-stats' ||
      github.repository == 'stats-organization/github-readme-stats' ||
      github.repository == 'stats-organization/github-stats-extended'
    name: Update supported languages
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Install Dependencies
        uses: ./.github/actions/install-dependencies

      - name: Run update-languages-json.js script
        run: pnpm --filter github-readme-stats run generate-langs-json

      - name: Create Pull Request if upstream language file is changed
        uses: peter-evans/create-pull-request@v8
        with:
          commit-message: "feat(backend): update languages JSON"
          branch: "update_langs/patch"
          delete-branch: true
          title: Update languages JSON
          body: "The
            [update-langs](https://github.com/stats-organization/github-stats-extended/actions/workflows/update-langs.yml)
            action found new/updated languages in the [upstream languages JSON
            file](https://raw.githubusercontent.com/github/linguist/master/lib/linguist/languages.yml)."
          labels: "ci"
